.base {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.fullWidthColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fullWidthRow {
    width: 100%;
    display: flex;
    flex-direction: row;

}

.responsive-image {
    position: relative;
    min-width: 350px;
    max-width: 100%;
    margin-top: 12px;
}

.textBox {
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    background-color: #09d3ac;
}

.text {
    color: #585555;
    cursor: context-menu;
}

.bottomTitle {
    font-size: 19px;
    line-height: 30px;
    margin: 0 0 20px;
    text-transform: uppercase;
}

.textBold {
    font-weight: 700;
}

.link{
    cursor: pointer;
}

.iconBox {
    width: 60px;
    align-items: center;
    justify-content: center;
}

.iconButton {
    width: 60px;
    height: 60px;
}


