.contentBase {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin: 5px 5px 10px;
}

.carouselLegend {
    background-color: rgba(0,0,0,.5);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
}

table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}
